# Top-most EditorConfig file.
root = true

# Section for C# files
[*.cs]

# Section for JavaScript files
[*.js]

#### Core EditorConfig Options ####

# Indentation and spacing
max_line_length = 160
indent_style = space
indent_size = 2

# New line preferences
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true

# Charset preference
charset = utf-8